:root {
  --normal: 60deg 21% 57%;
	--fire: 26deg 85% 56%;
	--water: 221deg 82% 66%;
	--electric: 48deg 93% 57%;
	--grass: 98deg 52% 54%;
	--ice: 177deg 47% 72%;
	--fighting: 2deg 66% 46%;
	--poison: 301deg 45% 44%;
	--ground: 43deg 68% 64%;
	--flying: 256deg 81% 76%;
	--psychic: 342deg 93% 65%;
	--bug: 67deg 75% 41%;
	--rock: 50deg 54% 46%;
	--ghost: 266deg 27% 47%;
	--dragon: 257deg 97% 60%;
	--dark: 24deg 23% 36%;
	--steel: 240deg 19% 76%;
	--fairy: 330deg 50% 68%;
  --all: 0deg 0% 41%;
  --transparent: 0deg 0% 100%;
}

.grass {
  background-color: hsl(var(--grass));
}

.poison {
  background-color: hsl(var(--poison));
}

.fire {
  background-color: hsl(var(--fire));
}

.flying {
  background-color: hsl(var(--flying));
}

.water {
  background-color: hsl(var(--water));
}

.bug {
  background-color: hsl(var(--bug));
}

.normal {
  background-color: hsl(var(--normal));
}

.ground {
  background-color: hsl(var(--ground));
}

.fairy {
  background-color: hsl(var(--fairy));
}

.fighting {
  background-color: hsl(var(--fighting));
}

.electric {
  background-color: hsl(var(--electric));
}

.psychic {
  background-color: hsl(var(--psychic));
}

.rock {
  background-color: hsl(var(--rock));
}

.ice {
  background-color: hsl(var(--ice));
}

.dragon {
  background-color: hsl(var(--dragon));
}

.ghost {
  background-color: hsl(var(--ghost));
}

.dark {
  background-color: hsl(var(--dark));
}

.steel {
  background-color: hsl(var(--steel));
}

.all {
  background-color: hsl(var(--all));
}